.button {
  background-color: tomato;
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  padding: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #d24667;
  color: white;
}
